<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170248401704-8oattbdkbc6grp3b1i1ndaccup7nee7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170248401704-8oattbdkbc6grp3b1i1ndaccup7nee7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAscBvumlLpIlOpVLI4UxAQyY28a8uyjTE</string>
	<key>GCM_SENDER_ID</key>
	<string>170248401704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattify</string>
	<key>PROJECT_ID</key>
	<string>chattify2</string>
	<key>STORAGE_BUCKET</key>
	<string>chattify2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170248401704:ios:fc7450392af4b560b6961d</string>
</dict>
</plist>